<div class="container">
  <header class="jumbotron">
      <div class="container">

          <a href="/tasks">Task Index</a>

          <h1><%= @task.title %></h1>

          <p><%= @task.description %></p>

      </div>
    </header>
  </div> 
